
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
	margin: 0;
	padding: 0;
	user-select: none;
}

.words {
	th, td {
		font-size: 20px;
		ruby {
			rt {
				font-size: 12px;
			}
		}
	}
}

table {
	border: 1px solid black;
	margin: auto;
	th, td {
		border: 1px solid black;
		padding: 10px;
	}
}

nav {
	width: 100%;

	a {
		padding: 20px;
	}
}

.centered {
	text-align: center;
}

rt {
	font-size: 13px;
}

.lyrics {
	font-size: 20px;
	font-family: 'Noto Sans', sans-serif;
}

.singer {
	font-size: 18px;
	rt {
		font-size: 11px;
	}
}